# Server Configuration
PORT=3000

# MongoDB Atlas Configuration
# Replace <db_username> and <db_password> with your MongoDB Atlas credentials
MONGODB_URI=mongodb+srv://<db_username>:<db_password>@learningproject.3djrvwy.mongodb.net/tic-tac-toe?retryWrites=true&w=majority&appName=learningProject

# Client URL (for CORS)
CLIENT_URL=http://localhost:5173

# Environment
NODE_ENV=development

# Firebase Configuration
FIREBASE_PROJECT_ID=tic-tac-toe-online-dbf10
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@tic-tac-toe-online-dbf10.iam.gserviceaccount.com

